{{#if jobs}}
  <h1>Jobs:</h1>
  <button class="removeAll">Remove all jobs</button>
  <div id="jobs">
    {{#each jobs}}
      <div class="job">
        <h2 class="name">URL: {{url}}</h2>
          <p class="state">state: {{state}}</p>
          <p class="next">nextRunAt: {{nextRunAt}}</p>
        {{#if lastRunAt}}
          <p class="last-run">lastRunAt: {{lastRunAt}}</p>
        {{/if}}
        <button class="remove" data-name="{{name}}">Remove</button>
      </div>
    {{/each}}
  </div>
{{else}}
  <h2 class="title">{{title}}</h2>
{{/if}}