{{#if jobs}}
  <h1>Jobs</h1>
  <button class="removeAll">Remove all jobs</button>
  <div id="jobs">
    {{#each jobs}}
      <div class="job">
        <h2 class="name">{{name}}</h2>
          <p class="url">URL: {{url}}</p>
          <p class="status">Status: {{status}}</p>
          <p class="next">Next run: {{nextRunAt}}</p>
        {{#if lastRunAt}}
          <p class="last-run">Last run: {{lastRunAt}}</p>
        {{/if}}
        <button class="remove" data-name="{{name}}">Remove</button>
      </div>
    {{/each}}
  </div>
{{else}}
  <h2 class="title">{{title}}</h2>
{{/if}}

<h1>Create a job</h1>
<input type="text" class="url" placeholder="url" />
<input type="text" class="scheduling" placeholder="scheduling" />
<textarea class="body" placeholder="body (JSON)"></textarea>
<button class="create" >Create</button>