{{#if jobs}}
  <h1>Webhooks</h1>
  <button class="removeAll">Remove all jobs</button>
  <div id="jobs">
      <table>
        <tr>
          <th>URL</th>
          <th>Status</th>
          <th>Next Run</th>
            <th class="last-r">Last Run</th>
            <th class="last-f">Last Finished</th>
          <th>Remove</th>
        </tr>
      {{#each jobs}}
        <tr>
          <td class="url">{{url}}</td>
          <td class="status">{{status}}</td>
          <td class="next">{{nextRunAt}}</td>
          {{#if lastRunAt}}
            <td class="last-run">{{lastRunAt}}</td>
          {{/if}}
          {{#if lastFinishedAt}}
            <td class="last-finished">{{lastFinishedAt}}</td>
          {{/if}}
          <td><a href="#" class="remove" data-name="{{name}}"><i class="fa fa-trash"></i></a></td>
        </tr>
      {{/each}}
      </table>
  </div>
{{else}}
  <h1 class="title">{{title}}</h1>
{{/if}}

<h2>Create a job</h2>
<input type="text" class="url" placeholder="url" />
<input type="text" class="scheduling" placeholder="scheduling" />
<textarea class="body" placeholder="body (JSON)"></textarea>
<button class="create" >Create</button>